  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.nav-img{
    margin: .5rem;
    margin-left: 120px;
}

.nav-details{
    margin-right: 120px;
}
.nav-details ul{
    padding: 0;
    display: flex;
}
.nav-details li{
    list-style: none;
    
}
.nav-details li a{
    text-decoration: none;
    padding: 1rem;
    display: block;
    color: black;
    
}
.nav-details li:hover{
    background-color: #F76345;
    color: #fff;
}
.get-started{
    background-color: #F76345;
    margin-top: 10px;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    color: #fff;
    border: none;
}
.get-started:hover{
    cursor: pointer;
}
.btn-start{
    background: #fff;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.15);
    width: 65%;
    height: 45px;
    margin-top: 10px;
}
.start{
    background-color: #F76345;
    border-radius: 10px;
    width: 120px;
    height: 30px;
    color: #fff;
    border: none;
    margin-top: 7px;
    margin-left: 230px;
}
.start:hover{
    cursor: pointer;
}
.home{
    display: flex;
    align-items: center;
    padding: 8rem;
}
.home-img{
    width: 400px;
    height: 500px;
    margin-bottom: 370px;
}
.home-text h2{
    font-size: 48px;
}
.home-text p{
    font-size: 15px;
    margin-top: 10px;
}
.home-logo{
    margin-top: 300px;
    width: 80%;
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}